// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// colors pattern
$special_yellow: #ffc304;  //Mikado Yellow
$special_orange: #F15025;  // Red Orange 
$special_silver: #757780;  // Sonic Silver
$special_black:  #090806;  // Rich Black Fogra

