.btn-rent {
  color: #E4CF3C;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  background-color:#F15025;
  box-shadow: 0 0 5px black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

// list-card {
//   margin: 15vh;
// }