<%= link_to 'Rent out a garage', new_garage_path %>

<h1>Your garages</h1>

<% if @garages.empty? %>
  <h2>You have submitted no garage yet! =(</h2>
<% else %>
  <%= render "each", garages: @garages %>
<% end %>