<!-- Footer -->
<div class="footer-session">
  <div class="container">
    <!-- Links -->
    <footer class="page-footer font-small blue">
    <div>
    <ul>
      <li>About Us</li>
      <li>How it works</li>
      <li>Our Team</li>
    </ul>
    </div>
    <!-- Links -->
    <!-- Social -->
    <div class="social block">
      <ul>
        <p>Follow Us</p>
      </ul>
      <li>
        <a href="#">Facebook</a>
      </li>
      <li>
        <a href="#">Instagram</a>
      </li>
    </div>
    <!-- Social -->

    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#">SOS Monitor Team</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
</div>