<!-- Footer -->
<div class="footer-session">
  <div>
    <!-- Team -->
    <footer class="page-footer font-small blue">
      <div class="footer-links">
        <p>Our Team</p>
        <a href="#">Denilson Nascimento</a><br>
        <a href="#">Eduardo Ritter</a><br>
        <a href="#">Pedro Ilton</a><br>
        <a href="#">Uellington Bonaparte</a>
      </div>

      <!-- Social -->
    <div class="footer-links social">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    </footer>
  </div>
</div>
<!-- Footer -->