.navbar-lewagon {
  justify-content: space-between;
  background: black;
  color:white;
  height: 40px;
}

#nav-logo {
  margin: 0px;
  z-index: 10;
  object-fit: fit;
  position: relative;
  top: 20px;
  left: 30px;
  width: 100px;
}

// tentativa de aproximar o texto da logo
// #logo-with-description {
//   display: flex;
//   justify-content: flex-start;
//   position: absolute;
//   margin-top: 12px;
//   width: 100%;
// }

#logo-description {
  margin-top: 24px;
  margin-left: 20px;
  font-family: $logo-font;
  font-size: 24px;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link{
  // color: #3E4095;
  color: white;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $special_orange;
  text-decoration: none;
}

.nav-link a {
  text-decoration: none; 
  color: white;
  &:hover {
    color: $special_orange;
  }
}

#btn-home {
  color: white !important;
}